<!-- routes -->

@user.route('/hotel_booking' , methods=['GET', 'POST'])
@login_required
def hotel_booking():
    hotel_booking_form = HotelBookingForm()
    return render_template('user/hotel_booking.html', form=hotel_booking_form)

@user.route('/flight_booking' , methods=['GET', 'POST'])
@login_required
def flight_booking():
    flight_booking_form = FlightBookingForm()
    return render_template('user/flight_booking.html', form=flight_booking_form)

@user.route('/profile', methods=['GET', 'POST'])
@login_required
def profile():
    return render_template('user/profile.html', org=current_user)

    HotelBookingForm,
                                        FlightBookingForm


<!-- form -->

class FlightBookingForm(FlaskForm):
    source = StringField('Choose your source', [DataRequired()])
    destination = StringField('Choose your destination', [DataRequired()])
    no_of_rooms = SelectField('Flight Type?' , choices=[('Roundtrip'), ('One way'), ('Multi-city')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    adults = SelectField('Adults' , choices=[('1'), ('2'), ('3'), ('4'), ('5'), ('6'), ('7'), ('8'), ('9'), ('10')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    children = SelectField('Children' , choices=[('1'), ('2'), ('3'), ('4'), ('5')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    inputCheckIn = DateField('Check In Date', format='%m/%d/%y', validators=[InputRequired()])
    inputCheckOut = DateField('Check Out Date', format='%m/%d/%y', validators=[InputRequired()])
    cabin_class = SelectField('Cabin Class' , choices=[('Economy'), ('Premium Economy'), ('Business'), ('First')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    submit = SubmitField('Submit')


class HotelBookingForm(FlaskForm):
    source = StringField('Choose your source', [DataRequired()])
    destination = StringField('Choose your destination', [DataRequired()])
    no_of_rooms = SelectField('How many rooms?' , choices=[('1 Room'), ('2 Rooms'), ('3 Rooms'), ('4 Rooms'), ('5 Rooms')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    adults = SelectField('Adults' , choices=[('1'), ('2'), ('3'), ('4'), ('5'), ('6'), ('7'), ('8'), ('9'), ('10')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    children = SelectField('Children' , choices=[('1'), ('2'), ('3'), ('4'), ('5')],validators=[InputRequired()],
    coerce=lambda x: x == 'True')
    inputCheckIn = DateField('Check In Date', format='%m/%d/%y', validators=[InputRequired()])
    inputCheckOut = DateField('Check Out Date', format='%m/%d/%y', validators=[InputRequired()])
    submit = SubmitField('Submit')



    <!-- dashbaord -->

    <li class="nav-item">
        <a href="{{ url_for('user.flight_booking') }}" class="nav-link">Flights</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('user.hotel_booking') }}" class="nav-link">Hotels</a>
    </li>