{% extends 'layout/admin_layout.html' %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center" style="background-color: rgb(7, 88, 117); color: white;">
                    Add Accomodation
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.place_name.label(for="place_name") }}
                                    {% if form.place_name.errors %}
                                        {{ form.place_name(class="form-control is-invalid", id="place_name", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.place_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.place_name(class="form-control", id="place_name", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.name.label(for="name") }}
                                    {% if form.name.errors %}
                                        {{ form.name(class="form-control is-invalid", id="name", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.name(class="form-control", id="name", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.season_visit.label(for="season_visit") }}
                                    {% if form.season_visit.errors %}
                                        {{ form.season_visit(class="form-control is-invalid", id="season_visit", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.season_visit.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.season_visit(class="form-control", id="season_visit", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.address.label(for="address") }}
                                    {% if form.address.errors %}
                                        {{ form.address(class="form-control is-invalid", id="address", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.address(class="form-control", id="address", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.average_review.label(for="average_review") }}
                                    {% if form.average_review.errors %}
                                        {{ form.average_review(class="form-control is-invalid", id="average_review", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.average_review.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.average_review(class="form-control", id="average_review", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.average_time.label(for="average_time") }}
                                    {% if form.average_time.errors %}
                                        {{ form.average_time(class="form-control is-invalid", id="average_time", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.average_time.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.average_time(class="form-control", id="average_time", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.contact_email.label(for="contact_email") }}
                                    {% if form.contact_email.errors %}
                                        {{ form.contact_email(class="form-control is-invalid", id="contact_email", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.contact_email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.contact_email(class="form-control", id="contact_email", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.contact_phone.label(for="contact_phone") }}
                                    {% if form.contact_phone.errors %}
                                        {{ form.contact_phone(class="form-control is-invalid", id="contact_phone", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.contact_phone.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.contact_phone(class="form-control", id="contact_phone", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.owner_name.label(for="owner_name") }}
                                    {% if form.owner_name.errors %}
                                        {{ form.owner_name(class="form-control is-invalid", id="owner_name", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.owner_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.owner_name(class="form-control", id="owner_name", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    {{ form.description.label(for="description") }}
                                    {% if form.description.errors %}
                                        {{ form.description(class="form-control is-invalid", id="description", placeholder="Hotel Name") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.description.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.description(class="form-control", id="description", placeholder="Hotel Name") }}
                                    {% endif %}
                                </div>
                            </div>

  
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success  btn-block mx-auto">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
           

        </div>
    </div>
</div>
{% endblock content %}